<a href="https://colab.research.google.com/github/pranavvprem/Basic-2/blob/main/Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def fun_name():
  print("Hello World")

In [ ]:
def fun_name():
  print("Fifa World Cup")
  fun_name()

In [13]:
def fun_name():
  x=input("Enter your first name")
  y=input("Enter your middle name")
  z=input("Enter your last name")
  print(x,y,z)

In [14]:
fun_name()

Enter your first name565
Enter your middle name565
Enter your last name45
565 565 45

In [17]:
def fun_name(country ="Norway"):
  print("I am from" +country)
fun_name("Sweden")
fun_name("India")
fun_name()
fun_name("Brazil")

I am fromSweden
I am fromIndia
I am fromNorway
I am fromBrazil

In [21]:
def fun_name(x):
  for y in x:
    print(y)
k=["John","Adam","Matthew"]
fun_name(k)

John
Adam
Matthew

In [23]:
def fun_name(x):
  for y in x:
    print(y)
k=[""]

In [24]:
def fact(n):
  if n <= 1:
    return n 
  else:
    return(fact(n-1) * n)
    print(fact(10))

In [25]:
fact(5)

120