<a href="https://colab.research.google.com/github/pranavvprem/Basic-2/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
supermarket=files.upload()

Saving Supermarket_sales.csv to Supermarket_sales.csv

In [2]:
import pandas as pd

In [4]:
import pandas 
dataframe=pandas.read_csv("Supermarket_sales.csv")
print(dataframe)

       No    InvoiceID Branch       City Customertype  Gender  \
0       1  750-67-8428      A     Yangon       Member  Female
1       2  226-31-3081      C  Naypyitaw       Normal  Female
2       3  631-41-3108      A     Yangon       Normal    Male
3       4  123-19-1176      A     Yangon       Member    Male
4       5  373-73-7910      A     Yangon       Normal    Male
..    ...          ...    ...        ...          ...     ...
995   996  233-67-5758      C  Naypyitaw       Normal    Male
996   997  303-96-2227      B   Mandalay       Normal  Female
997   998  727-02-1313      A     Yangon       Member    Male
998   999  347-56-2442      A     Yangon       Normal    Male
999  1000  849-09-3807      A     Yangon       Member  Female

                Productline  Unitprice  Quantity      Tax      Total  \
0         Health and beauty      74.69         7  26.1415   548.9715
1    Electronic accessories      15.28         5   3.8200    80.2200
2        Home and lifestyle      46.33         7  16.2155   340.5255
3         Health and beauty      58.22         8  23.2880   489.0480
4         Sports and travel      86.31         7  30.2085   634.3785
..                      ...        ...       ...      ...        ...
995       Health and beauty      40.35         1   2.0175    42.3675
996      Home and lifestyle      97.38        10  48.6900  1022.4900
997      Food and beverages      31.84         1   1.5920    33.4320
998      Home and lifestyle      65.82         1   3.2910    69.1110
999     Fashion accessories      88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross_margin_percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross_iincome  Rating
0          26.1415     9.1
1           3.8200     9.6
2          16.2155     7.4
3          23.2880     8.4
4          30.2085     5.3
..             ...     ...
995         2.0175     6.2
996        48.6900     4.4
997         1.5920     7.7
998         3.2910     4.1
999        30.9190     6.6

[1000 rows x 18 columns]

In [5]:
dataframe.loc[1]

No                                              2
InvoiceID                             226-31-3081
Branch                                          C
City                                    Naypyitaw
Customertype                               Normal
Gender                                     Female
Productline                Electronic accessories
Unitprice                                   15.28
Quantity                                        5
Tax                                          3.82
Total                                       80.22
Date                                     3/8/2019
Time                                        10:29
Payment                                      Cash
cogs                                         76.4
gross_margin_percentage                  4.761905
gross_iincome                                3.82
Rating                                        9.6
Name: 1, dtype: object

In [6]:
dataframe.loc[2]

No                                          3
InvoiceID                         631-41-3108
Branch                                      A
City                                   Yangon
Customertype                           Normal
Gender                                   Male
Productline                Home and lifestyle
Unitprice                               46.33
Quantity                                    7
Tax                                   16.2155
Total                                340.5255
Date                                 3/3/2019
Time                                    13:23
Payment                           Credit card
cogs                                   324.31
gross_margin_percentage              4.761905
gross_iincome                         16.2155
Rating                                    7.4
Name: 2, dtype: object

In [7]:
dataframe[["City","Branch"]]

          City Branch
0       Yangon      A
1    Naypyitaw      C
2       Yangon      A
3       Yangon      A
4       Yangon      A
..         ...    ...
995  Naypyitaw      C
996   Mandalay      B
997     Yangon      A
998     Yangon      A
999     Yangon      A

[1000 rows x 2 columns]

In [8]:
print(dataframe.index)

RangeIndex(start=0, stop=1000, step=1)

In [17]:
dataframe=dataframe.drop(['Tax'],axis=1)
dataframe.head(4)

KeyError: ignored

In [18]:
print(dataframe.head(2))
dataframe.drop([5],axis=0)
print("*******")

   No    InvoiceID Branch       City Customertype  Gender  \
0   1  750-67-8428      A     Yangon       Member  Female
1   2  226-31-3081      C  Naypyitaw       Normal  Female

              Productline  Unitprice  Quantity     Total      Date   Time  \
0       Health and beauty      74.69         7  548.9715  1/5/2019  13:08
1  Electronic accessories      15.28         5   80.2200  3/8/2019  10:29

   Payment    cogs  gross_margin_percentage  gross_iincome  Rating
0  Ewallet  522.83                 4.761905        26.1415     9.1
1     Cash   76.40                 4.761905         3.8200     9.6
*******

In [22]:
max_overall=dataframe.Unitprice.max()
print(max_overall)

99.96

In [23]:
print(dataframe.head(10))

   No    InvoiceID Branch       City Customertype  Gender  \
0   1  750-67-8428      A     Yangon       Member  Female
1   2  226-31-3081      C  Naypyitaw       Normal  Female
2   3  631-41-3108      A     Yangon       Normal    Male
3   4  123-19-1176      A     Yangon       Member    Male
4   5  373-73-7910      A     Yangon       Normal    Male
5   6  699-14-3026      C  Naypyitaw       Normal    Male
6   7  355-53-5943      A     Yangon       Member  Female
7   8  315-22-5665      C  Naypyitaw       Normal  Female
8   9  665-32-9167      A     Yangon       Member  Female
9  10  692-92-5582      B   Mandalay       Member  Female

              Productline  Unitprice  Quantity     Total       Date   Time  \
0       Health and beauty      74.69         7  548.9715   1/5/2019  13:08
1  Electronic accessories      15.28         5   80.2200   3/8/2019  10:29
2      Home and lifestyle      46.33         7  340.5255   3/3/2019  13:23
3       Health and beauty      58.22         8  489.0480  1/27/2019  20:33
4       Sports and travel      86.31         7  634.3785   2/8/2019  10:37
5  Electronic accessories      85.39         7  627.6165  3/25/2019  18:30
6  Electronic accessories      68.84         6  433.6920  2/25/2019  14:36
7      Home and lifestyle      73.56        10  772.3800  2/24/2019  11:38
8       Health and beauty      36.26         2   76.1460  1/10/2019  17:15
9      Food and beverages      54.84         3  172.7460  2/20/2019  13:27

       Payment    cogs  gross_margin_percentage  gross_iincome  Rating
0      Ewallet  522.83                 4.761905        26.1415     9.1
1         Cash   76.40                 4.761905         3.8200     9.6
2  Credit card  324.31                 4.761905        16.2155     7.4
3      Ewallet  465.76                 4.761905        23.2880     8.4
4      Ewallet  604.17                 4.761905        30.2085     5.3
5      Ewallet  597.73                 4.761905        29.8865     4.1
6      Ewallet  413.04                 4.761905        20.6520     5.8
7      Ewallet  735.60                 4.761905        36.7800     8.0
8  Credit card   72.52                 4.761905         3.6260     7.2
9  Credit card  164.52                 4.761905         8.2260     5.9

In [24]:
min_Unitprice=dataframe.Unitprice.min()
min_Unitprice_loc = dataframe.Unitprice.idxmin()
Unitprice=dataframe.loc[min_Unitprice]

KeyError: ignored

In [27]:
dataframe.loc[dataframe["Customertype"] == "Normal"]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
7,8,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,993,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
993,994,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1

In [28]:
dataframe.loc[dataframe["Gender"] == "Male"]

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
11,12,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,993,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
993,994,690-01-6631,B,Mandalay,Normal,Male,Fashion accessories,17.49,10,183.6450,2/22/2019,18:35,Ewallet,174.90,4.761905,8.7450,6.6
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1

In [29]:
import numpy as np 
student_marks_BA=[12,14,10]
marksarray=np.array(student_marks_BA)
print(marksarray)

[12 14 10]

In [30]:
import numpy as np
student_marks=[[12,14,10],[15,19,20],[11,15,19]]
marksarray=np.array(student_marks)
print(marksarray)

[[12 14 10]
 [15 19 20]
 [11 15 19]]

In [31]:
values1=np.arange(20)
print(values1)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [32]:
values=np.arange(1,11)
print(values)

[ 1  2  3  4  5  6  7  8  9 10]

In [34]:
values2=np.arange(50,61)
print(values2)

[50 51 52 53 54 55 56 57 58 59 60]

In [36]:
zeroarray = np.zeros(5)
print(zeroarray)

[0. 0. 0. 0. 0.]

In [37]:
zeroarray = np.zeros((2,6))
print(zeroarray)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]

In [38]:
onesarray=np.ones(5)
print(onesarray)

[1. 1. 1. 1. 1.]

In [40]:
identiyarray=np.eye(5)
print(identityarray)

NameError: ignored

In [41]:
len(zeroarray)

2

In [42]:
len(onesarray)

5

In [43]:
firstarray=np.array([[10,20,30,40],[2,4,6,8],[5,10,15,20]])
print(firstarray.shape)
secondarray=firstarray.reshape(4,3)
print(firstarray)
print("******")
print(len(firstarray))
print("******")
print(secondarray)
third_array=firstarray.reshape(6,2)
print(third_array)

(3, 4)
[[10 20 30 40]
 [ 2  4  6  8]
 [ 5 10 15 20]]
******
3
******
[[10 20 30]
 [40  2  4]
 [ 6  8  5]
 [10 15 20]]
[[10 20]
 [30 40]
 [ 2  4]
 [ 6  8]
 [ 5 10]
 [15 20]]

In [44]:
values=np.random.randint(1,3,5)
print(values)

[2 2 1 1 1]

In [45]:
values=np.random.randint(40,60,10)
print(values)

[51 48 41 40 56 42 45 43 47 46]

In [46]:
values=np.random.randint(25,50,10)
print(values)

[47 35 38 27 46 47 39 42 34 48]

In [47]:
v=np.random.randint(25,50,(4,3))
print(v)

[[45 31 39]
 [39 27 27]
 [38 30 41]
 [30 49 45]]