<a href="https://colab.research.google.com/github/pranavvprem/Basic-2/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num=int(input("Enter the number"))
for i in range(1,11):
  print(i,"x",num,"=",i*num)

Enter the number4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

In [ ]:
num=int(input())
i=1
while(i<=10):
  print(i,"x",num,"=",i*num)
  i=i+1

5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [ ]:
Number = input("Please Enter any Number")

Please Enter any Number4
4

In [ ]:
num=input("Enter the number")
d=0
for i in num:
  #print(i)
  d=d+1
print(d)

Enter the number45
2

In [ ]:
x=input("enter a string")
w= ""
for i in x:  
  w=i+w
print(w)
if x==w: 
  print('true')
else:
  print('false')

enter a stringmalayalam
malayalam
true

In [ ]:
n=input('Enter username ')
a=input('Enter a letter to search ')
b=input('Enter the letter to replace ')
if a in n:
  print(n.replace(a,b))

Enter username vijaya
Enter a letter to search d
Enter the letter to replace s

In [19]:
a=input('Enter Country name ')
b=input('Enter Country name ')
c=input('Enter Country name ')
d=input('Enter Country name ')
e=input('Enter Country name ')
L=[a,b,c,d,e]
print(sorted(L))
f=input('Enter another country name ')
L.append(f)
print(L)

Enter Country name ameria
Enter Country name italy
Enter Country name brazil
Enter Country name argentina
Enter Country name germany
['ameria', 'argentina', 'brazil', 'germany', 'italy']
Enter another country name portungal
['ameria', 'italy', 'brazil', 'argentina', 'germany', 'portungal']